* {
  margin: 0;
  padding: 0;
}





.firstContainer {

  background-image: url(helloquence-OQMZwNd3ThU-unsplash.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;

display: flex;
justify-content: center;
align-items: center;
position: relative;


}


#firstP {
  font-size: 14px;
  font-family: 'Jura', sans-serif;
  color: #d8dbed;
  text-align: center;
  word-spacing: 7px;
s
}

#secondP {
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 10px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

#thirdP {
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}


#contactUs {

background-color: #7668f8;
border-radius: 25px;
width: 100px;
height: 35px;
border: 1px;
padding: 3px;
margin-right: 10px;
color: white;
}

#learnMore {

background-color: #c702fa;
border-radius: 25px;
width: 100px;
height: 35px;
border: 0px;
color: white;


}


.firstContainerButtons {
text-align: center;
padding-top: 28px;


}




.overlay {

  width: 100%;
    height: 100%;
    background: blue;
    opacity: .1;
    position: absolute;

}


.secondContainer {
  background-color:;
  height: 200px;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;


}


#p4 {

word-spacing: 5px;
font-family: Consolas, monaco, monospace;
font-size: 27px;
font-weight: bold;
color: black;



}

#line {
  border-bottom: 3px solid #003366;
  width: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


.thirdContainer {
  background-color:;
  height: 300px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;


}

.firstContent {
  text-align: center;
  width: 180px;
}

.secondContent {
  text-align: center;
  width: 200px;
}

.thirdContent {
  text-align: center;
  width: 180px;
}



.firstContent > img {
  height: 50px;
  width: 50px;
}

.secondContent > img {
  height: 50px;
  width: 50px;
}

.thirdContent > img {
  height: 50px;
  width: 50px;
}

.mainprg {

font-family: 'Open Sans Condensed', sans-serif;
padding-top: 30px;

}

.prg {

margin-top: 25px;
font-family: 'Open Sans Condensed', sans-serif;
color: grey;

}


.fourthContainer {

width: 100%;
height: 300px;
display: flex;


flex-direction: column;

background-image: url(laptops.jpg);
background-size:cover;
background-position: center;
background-repeat: no-repeat;

justify-content: center;
position: relative;
align-items: center;




}





.fourth-overlay {

  width: 100%;
    height: 100%;
    position: absolute;
    background: blue;
    opacity: .1;


}


#underplay {
padding-top: 20px;
font-size: 30px;
width: 70%;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
color: black;
font-weight: bold;


}




.fifthContainer {

  height: 250px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}


.box1 {
width: 120px;
}


.box2 {
width: 120px;
}

.box3 {
width: 120px;
}

.box4 {
  width: 120px;
}

.boxprg {

  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}



.boxprg2 {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color:#003366;
}

.boximg {
width: 50px;
  height: 50px;

}


/*-----------------------BOX 6------------------------------- */





.sixthContainer {
  width: 100%;
  height: 500px;
  display:flex;
  background-color: #f7f7f8;
  justify-content: space-evenly;

}

.boxinside {

margin-left: 90px;


}


.boxcc {

display: flex;
justify-content: space-evenly;
align-items: center;

}




#getconnectimg {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

#prg1 {

margin-bottom: 30px;
width: 250px;
font-size: 30px;
}


#ulbox li {

  color: grey;
  font-size: 20px;

}

#ulbox li {

margin: 10px;

}



#btn {
  background-color: #7668f8;
  border-radius: 25px;
  width: 100px;
  height: 35px;
  border: 1px;
  padding: 3px;
  margin-right: 10px;
  color: white;
  margin-left: 15px;
  margin-top: 20px;
}



#ulbox {

padding-top: 20px;
margin-left: 20px;

}

.seventhContainer {

  height: 160px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

}


#prg7v1 {
  padding-top: 20px;
  word-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}


#prg7v2 {
  color: #003366;
  padding-top: 20px;
  margin-bottom: -28px;
  font-family: 'Open Sans Condensed', sans-serif;

}

.container8 {
width: 100%;
height: 500px;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;

}



.container8 img {

  width: 150px;
  height: 150px;
  border-radius: 100px;


}


#ulicons li {

display: inline-flex;
padding: 10px;
text-align: center;
}



#ulicons li img {
  width: 40px;
  height: 40px;
}

.p1st {

color: #003366;
padding-top: 20px;
padding-bottom: 20px;
}

.p2nd {
  padding-top: 20px;
  padding-bottom: 20px;


}


/* -------------------------- 9th container -------------------------------- */


.container9 {
  width: 100%;
  height: 500px;
  background-image: url(laptopv2.jpg);
  background-size: cover;
  background-position: center;

display:flex;
justify-content: space-evenly;
align-items: top;
position: relative;



}




.mainprg9 {

}

.overlay9 {

  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: .2;
  position: absolute;


}
